@import url('https://fonts.googleapis.com/css2?family=Allura&family=Anton&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-roboto;
    }
}

@layer color {
    :root {
        --primarycolor: #000;
        --secondarycolor: #fff;
        --accentcolor: #F27B39;
        --navbgcolor: #F5E9DD;
        --bgcolor: #FFF8EF;
        --text-accent-color: #776E63;
    }
}

@layer components {
    .icon-text > a {
        font-size: 20px;
        font-weight: 500;
        color: #F27B39;
    }

    .nav-text-link > li > a {
        font-size: 16px;
        font-weight: 400;
        @apply transition-all transform duration-300 ease-in-out translate-x-0;
    }

    .main-text > h1 {
        font-size: 65px;
        font-weight: 700;
    }

    .main-text-mobile > h1 {
        font-size: 45px;
        font-weight: 700;
    }
}